<h2>Filtitel: {{ meta.title }}</h2>
<p>Filversion: {{ meta.meta.version }}</p>
{{#if notValid}}
    <p>Detta avsnitt innehåller formatfel och kan visas felaktigt!</p>
{{/if}}
<h4>Filinnehåll:</h4>
<div class="file-content">{{{ content }}}</div>
<hr class="file-divider">