<h2>Innehållsförteckning</h2>
<table class="toc">
    <thead>
        <tr>
            <th>Fil</th>
            <th>Källa</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
    {{#each files}}
        <tr>
            <td>{{meta.title}}</td>
            <td>{{meta.meta.namespace}}/{{meta.meta.title}}<br>{{meta.path}}</td>
            <td>{{meta.meta.version}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
