<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <style>

        * {
            margin-left: 0px;
            margin-right: 0px;
        }

        .file-content {
            margin-bottom: 60px;
        }

        .meta > p {
            padding-bottom: 0px;
        }

        img {
            max-width: 100%;
        }
        
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            padding: 6px
        }

        .file-divider {
            border-top: 3px solid black
        }

    </style>
</head>
<body>
    <h1>Samlingsnamn: {{ name }}</h1>
    <h2>Samlingsversion: {{ version }}</h2>
    <div class="toc">
        {{{ toc }}}
    </div>
    <div class="content">
        {{{ content }}}
    </div>
</body>
</html>