<style>
    .infopack-footer {
        margin-bottom: 0px;
        margin-left: 60px;
        font-size: 12px;
    }
</style>
<div class="infopack-footer">
    <p>
        <span class="pageNumber"></span> / <span class="totalPages"></span>
    </p>
</div>
