<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
    <style>
        * {
            margin-left: 0px;
            margin-right: 0px;
        }

        .meta > p {
            padding-bottom: 0px;
        }

        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="content">
        {{{content}}}
    </div>
    <hr>
    <div class="meta">
        <h4>Metadata</h4>
        <p>Namespace: {{ meta.meta.namespace }}</p>
        <p>Paket: {{ meta.meta.name }}</p>
        <p>Version: {{ meta.meta.version }}</p>
        <p>Publiceringsdatum: {{ meta.meta.packagedAt }}</p>
        <p>Sökväg: {{ meta.path }}</p>
        <p>Genererad: {{ printedDate }}</p>
        <img src="{{qrCode}}" />
        <p>QR koden innehåller en länk tillbaka till underlagsfilen</p>
    </div>
</body>
</html>